.message {
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 30px;
    margin: 2px 10px;
    display: inline-block;
    width: fit-content;
    overflow-wrap: break-word;
    max-width: 50vw;
}

.message.me {
    background-color: #0084ff;
    align-self: flex-end;
    color: #fff;
}

.message:not(.me) {
    color: #000
}

.message:not(.me) + .message.me {
    border-bottom-right-radius: 5px;
}

.message.me + .message.me {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.message.me:last-of-type {
    border-bottom-right-radius: 30px;
}

.message .sender {
    flex: 1;
    text-align: end;
    font-weight: 700;
}

.message .timestamp {
    opacity: 0.6;
    text-align: end;
    margin-top: 5px;
    font-size: 0.7em;
}