body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  background-color: #36454f;
}

.main {
  flex: 9;
}   